@model shop.Models.Weather.SearchCity
<form method="post">
    <div class="form-group row">
        <label asp-for="CityName" class="col-sm-2 col-form-label"></label>
        <input asp-for="CityName" class="form-control" />
        <span asp-validation-for="CityName" class="text-danger"></span>
    </div>
    <div class="container">
        <div class="form-group col-md-3 offset-md-5">
            <button asp-controller="Weather" asp-action="SearchCity" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>
